# Directories #
/build/
/bin/
target/
.idea
classes/
META-INF/
  
# OS Files #
.DS_Store
  
*.class
  
# Package Files #
*.jar
*.war
*.ear
*.db

#eclipse
.classpath
.settings/
.project

#gradle
!gradle-wrapper.jar
.gradle
  
